---
import Base from '../layouts/Base.astro';
import BulletProcess from '../components/BulletProceso.astro';
import CardOptions from '../components/CardOptions.astro';
import ImgPrincipal from '/assets/index-imagen.png';
import DownArrow from '/assets/ic-doble-arrow.svg';
import Star from '/assets/ic-star.svg';
import Copy from '/assets/ic-copy.svg';
import Group from '/assets/ic-group.svg';
import Chat from '/assets/ic-chat.svg';
import Money from '/assets/ic-money.svg';
import Persona from '/assets/persona-app.png';
import PersonaTestimonial from '/assets/persona1.png';
import Registro from '/assets/ic-registro.svg';
import Divorcio from '/assets/ic-divorcio.svg';
import Despido from '/assets/ic-despido.svg';
import Pension from '/assets/ic-pension.svg';
import ArrowLeft from '/assets/ic-arrow-left.svg';
import ArrowRight from '/assets/ic-arrow-right.svg';
import Forbes from '/assets/logo-forbes.svg';
import ForoJuridico from '/assets/foro-juridico-logo.svg';
import AbDigital from '/assets/abogado-digital-logo.svg';
---

<Base>
	<!-- section 1 -->
	<section class='flex flex-row h-screen pt-20 px-4'>
		<div class='w-3/5 flex flex-col'>
			<div>
				<p
					class='text-jet-1 text-6xl font-bold leading-tight tracking-normal p-4'
				>
					Acercamos la justicia a los mexicanos, Por más soluciones a
					problemas
				</p>
			</div>
			<div class='mt-8'>
				<p class='text-jet-1 text-lg px-4'>
					Somos tus aliados para el peor momento. Nos indigna que solo
					1 de cada 10 mexicanos puedan solucionar sus problemas
					legales. Estamos aquí para apoyarte hoy desde tu celular.
				</p>
			</div>
			<div class='flex flex-row gap-x-32 mx-auto mt-16 items-center'>
				<div>
					<a
						class='py-4 px-12 text-ghost bg-yale-1 rounded-lg ease-in duration-300 hover:font-medium hover:cursor-pointer hover:shadow-md hover:shadow-yale-3/50 hover:scale-105 flex flex-row'
						>Contacto</a
					>
				</div>
				<div>
					<a
						class='py-3 px-8 text-yale-1 border-2 border-yale-1 rounded-lg ease-in duration-300 hover:font-medium hover:cursor-pointer hover:shadow-md hover:shadow-yale-3/50 hover:scale-105 flex flex-row'
						>Conoce más <img
							src={DownArrow}
							alt=''
							aria-hidden='true'
						/></a
					>
				</div>
			</div>
		</div>
		<div class='w-2/5'>
			<div class='absolute w-2/4 h-fit'>
				<img
					class='h-1/4 w-5/6'
					src={ImgPrincipal}
					alt='personas utilizando la web de confiabogado'
				/>
			</div>
			<div
				class='absolute bg-yale-1 bottom-0 right-0 w-1/3 h-1/5 rounded-tl-xl rounded-bl-xl flex flex-row px-8 py-5 gap-x-4'
			>
				<div class='flex flex-col text-center'>
					<p class='font-bold text-3xl text-tangerine-1'>+3,500</p>
					<p class='ftext-regular text-ghost mt-2 font-semibold'>
						Casos exitosos
					</p>
				</div>
				<div class='flex flex-col text-center'>
					<p
						class='flex flex-row gap-x-2 mx-auto font-bold text-3xl text-tangerine-1'
					>
						4.8 <img
							src={Star}
							alt=''
							aria-hidden='true'
						/>
					</p>
					<p class='text-regular text-ghost px-8 mt-2 font-semibold'>
						La mejor valoración en google México
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- section 2 -->
	<section class='flex flex-col pt-16 px-4'>
		<div class='mx-auto'>
			<p class='text-jet-1 text-4xl font-semibold text-center'>
				Soluciones sencillas a momentos complicados
			</p>
		</div>
		<div class='mt-10 w-1/2 p-4'>
			<p class='text-lg leading-snug mb-18 text-jet-1'>
				Somos la primer solución digital para asuntos legales en México,
				te apoyamos con excelentes abogados que le darán seguimiento a
				tu caso y resolverán cualquier duda que puedas tener.
			</p>
			<hr class='bg-jet-1/40 w-9/12 border-0 h-[2px] mt-10' />
		</div>
		<div class='flex flex-row'>
			<div class='mt-5 w-1/2 p-4'>
				<p class='text-jet-1 text-4xl font-semibold text-center'>
					Nuestro proceso es muy sencillo
				</p>
				<BulletProcess
					imagen={Copy}
					texto='Te regalamos una asesoría legal, sin compromiso'
				/>
				<BulletProcess
					imagen={Group}
					texto='Completa un breve formulario para crear una solución a tu medida'
				/>
				<BulletProcess
					imagen={Chat}
					texto='Nos pondremos en contacto contigo y comenzaremos el seguimiento de tu caso'
				/>
				<BulletProcess
					imagen={Money}
					texto='No te pediremos más dinero durante todo el proceso y puedes pagar a meses sin intereses'
				/>
			</div>
			<div class='w-1/2 p-4'>
				<img
					class='ml-[30%]'
					src={Persona}
					alt='Persona revisando su situación legal en confiabogado'
				/>
			</div>
		</div>
	</section>
	<!-- section 3 -->
	<section>
		<div class='flex flex-row'>
			<div class="flex flex-col w-9/12">
				<div class='flex flex-row gap-8 mx-auto my-4'>
					<a href='/registro-de-marca/'>
					<CardOptions
						imagen={Registro}
						texto='Registro de marca'
					/>
				</a>
				<a href='/despido-injustificado/'>
					<CardOptions
						imagen={Despido}
						texto='Despido injustificado'
					/>
					</a>
				</div>
				<div class='flex flex-row gap-8 mx-auto my-4'>
					<a href='/divorcio/'>
					<CardOptions
						imagen={Divorcio}
						texto='Divorcio'
					/>
				</a>
				<a href="/pension-alimenticia">
					<CardOptions
						imagen={Pension}
						texto='Pensión alimenticia'
					/>
				</a>
				</div>
			</div>
			<div class='w-1/2'>
				<div class='flex flex-col mx-auto p-10'>
					<p class="text-jet-1 text-4xl font-semibold text-right">Conoce nuestras áreas legales</p>
					<p class='text-jet-1 mt-5'>
						Somos expertos en estas áreas legales, así que no dudes
						en contactarnos para realizar tu primera asesoría gratis
						y posteriormente darle seguimiento a tu caso.
					</p>
					<a
						class='py-4 mt-10 px-12 mx-auto text-ghost bg-yale-1 rounded-lg ease-in duration-300 hover:font-medium hover:cursor-pointer hover:shadow-md hover:shadow-yale-3/50 hover:scale-105 flex flex-row'
						>Comienza tu asesoría</a
					>
				</div>
			</div>
		</div>
	</section>
	<!-- section 3 -->
	<section class='flex flex-row h-screen w-screen'>
		<div class='w-1/2 flex flex-col'>
			<p class='text-jet-1 text-4xl font-semibold mt-10 p-8'>Nuestros usuarios <br/> nos avalan</p>
			<div class='flex flex-row px-8 mt-10'>
				<button><img src={ArrowLeft}/></button>
				<button><img src={ArrowRight}/></button>
			</div>
			<p class='text-jet-1 text-xl font-light italic p-8'>"Confiabogado, el vínculo entre el mundo legal, <br/> la tecnología y los ciudadanos."</p>
			<img class='w-36 px-8 -mt-5' src={Forbes} alt='Logotipo de Forbes'/>
		</div>
		<div class='w-1/2 flex flex-col justify-center'>
			<div class='bg-digital-1 flex flex-col mx-auto rounded-lg p-5 w-6/12'>
				<img class='w-20 mt-2' src={PersonaTestimonial} alt='Fotografía de una persona que compartió su experiencia en confiabogado'/>
				<p class='text-jet-1 font-semibold text-3xl my-4 mx-1'>"Me ayudaron a obtener mi finiquito de forma rápida y sencilla."</p>
				<p class='text-jet-1 text-regular my-5 text-right'>Juan Velázquez</p>
			</div>
		</div>
	</section>
	<div class='w-screen flex flex-col'>
		<div><p class='text-jet-1 font-semibold text-4xl text-center mb-10'>Nos has visto en</p></div>
		<div class='flex flex-row gap-x-16 mx-auto mb-10'>
			<img class='w-52' src={ForoJuridico} alt='Logotipo de foro jurídico'/>
			<img class='w-52' src={Forbes} alt='Logotipo de forbes'/>
			<img class='w-52' src={AbDigital} alt='Logotipo de abogado digital'/>
		</div>
	</div>
</Base>
