---
import Facebook from '/assets/ic-facebook.svg';
import Instagram from '/assets/ic-instagram.svg';
import Linkedin from '/assets/ic-linkedin.svg';
import Twitter from '/assets/ic-twitter.svg';
import Visa from '/assets/ic-visa.svg';
import MasterCard from '/assets/ic-mastercard.svg';
import Oxxo from '/assets/ic-oxxo.svg';
import Spei from '/assets/ic-spei.svg';
import Paypal from '/assets/ic-paypal.svg';
import Mercado from '/assets/ic-mercado-pago.svg';
---

<div class='flex flex-col bg-jet-1'>
	<div class='grid grid-cols-4'>
		<div class='flex flex-col p-4'>
			<p class='text-xl font-medium text-ghost'>Contacto</p>
			<hr class='h-1 w-1/6 bg-ghost border-0 mt-1' />
			<div class='flex flex-col gap-y-4 my-4'>
				<a
					class='text-ghost'
					href='mailto:info@confiabogado.com'
					>info@confiabogado.com</a
				>
				<a
					class='text-ghost'
					href='tel:+525522557397'
					>55 2255 7397</a
				>
			</div>
		</div>
		<div class='flex flex-col p-4'>
			<p class='text-xl font-medium text-ghost'>Legal</p>
			<hr class='h-1 w-1/6 bg-ghost border-0 mt-1' />
            <div class="flex flex-col gap-y-4 my-4">
                <a class="text-ghost" href="#">Preguntas frecuentes</a>
                <a class="text-ghost" href="#">Términos y condiciones</a>
            <a class="text-ghost" href="#">Aviso de privacidad</a>
            </div>
		</div>
		<div class='flex flex-col p-4'>
			<p class='text-xl font-medium text-ghost'>Servicios</p>
			<hr class='h-1 w-1/6 bg-ghost border-0 mt-1' />
            <div class="flex flex-col gap-y-4 my-4">
                <a class="text-ghost">Despido injustificado</a>
                <a class="text-ghost">Registro de marca</a>
                <a class="text-ghost">Divorcio</a>
                <a class="text-ghost">Pensión alimenticia</a>
            </div>
		</div>
		<div class='flex flex-col p-4'>
			<p class='text-xl font-medium text-ghost'>Redes</p>
			<hr class='h-1 w-1/6 bg-ghost border-0 mt-1' />
            <div class="flex flex-col gap-y-4 my-4">
                <a class="text-ghost flex flex-row gap-x-2"><img src={Facebook} alt="" aria-hidden="true"/>Facebook</a>
                <a class="text-ghost flex flex-row gap-x-2"><img src={Instagram} alt="" aria-hidden="true"/>Instagram</a>
                <a class="text-ghost flex flex-row gap-x-2"><img src={Linkedin} alt="" aria-hidden="true"/>LinkedIn</a>
                <a class="text-ghost flex flex-row gap-x-2"><img src={Twitter} alt="" aria-hidden="true"/>Twitter</a>
            </div>
		</div>
	</div>
	<div class="grid grid-cols-2 mb-3 content-center mt-10">
        <div class="p-4">
            <p class="text-ghost font-medium">confiabogado·2023·Simplificando la justicia</p>
        </div>
        <div class=" flex flex-row px-4 justify-end gap-x-4">
            <a class="text-ghost flex flex-row gap-x-2"><img src={Visa} alt="" aria-hidden="true"/></a>
            <a class="text-ghost flex flex-row gap-x-2"><img src={MasterCard} alt="" aria-hidden="true"/></a>
            <a class="text-ghost flex flex-row gap-x-2"><img src={Oxxo} alt="" aria-hidden="true"/></a>
            <a class="text-ghost flex flex-row gap-x-2"><img src={Spei} alt="" aria-hidden="true"/></a>
            <a class="text-ghost flex flex-row gap-x-2"><img src={Paypal} alt="" aria-hidden="true"/></a>
            <a class="text-ghost flex flex-row gap-x-2"><img src={Mercado} alt="" aria-hidden="true"/></a>
        </div>
    </div>
</div>
